section.main-title-container{
  width           : 99.2vw;
  height          : 100vh;
  margin-bottom   : 2em;
  background-color: #D7ECFE
}

@keyframes title-animation{
  from{
    transform : translateY(-50%);
  }
  to{
    transform : translateY(-70%);
  }
}

section.main-title-container{
  position        : relative;
}
.main-title-container .main-img{
  position        : absolute;
  top             : 15%;
  left            : 45%;
  
  /* filter          : blur(5px); */
  overflow        : hidden;
}
.main-img{
  transform       : scale(1.2);
}
.main-title-container .main-title{
  display         : flex;
  flex-flow       : column wrap;
  /* align-items     : center; */
  position        : absolute;
  left            : 10%;
  top             : 50%;
  transform       : translateY(-70%);
  animation       : title-animation 1.0s ease-in-out;
  height          : unset;
  width           : 30em;
  color           : #2b4162;
}
.main-title-container .main-title h1{
  font-size       : 64px;
  text-transform  : none;
  margin-bottom   : 0%;
}

.main-title-container .main-title p{
  font-size       : 22px;
  text-transform  : none;
  margin          : 0%;
}


div.main-app-main{
  display         : flex;
  flex-flow       : row wrap;
  padding         : 0 1em;
}
.main-map{
  width           : 60vw;
  height          : 42.5vw;
  color           : white;
  margin-right    : 1em;
  min-width       : 300px;
  min-height      : 300px;
  border-radius   : 1em;
  padding         : 0.5em;
}

.main-app-title{
  margin-left     : 2em;
}
.main-app-title h1{
  font-size       : 2.5em;
}

.main-search{
  margin          : 1em 0.5em;
}

.main-search .main-search-bar .main-search-input input{
  width           : 20vw;
  min-width       : 250px;
  padding         : 0.5em 0.5em;
  font-size       : 1em;
  border-radius   : 0.5em;
  margin-right    : 0.5em;
}
.main-search .main-search-bar button{
  padding         : 0.5em 0.5em;
  border-radius   : 0.5em;
  font-size       : 1em;
}

.main-search .main-search-bar>p{
  margin-bottom   : 0.5em;
}

.main-search-result.hide{
  display         : none;
}
.main-search-result.show{
  display         : flex;
}

.main-search-result{
  flex-flow       : column wrap;
}

.main-search-block{
  display         : flex;
  flex-flow       : row nowrap;
  background-color: #5a9cabff;
  padding         : 0.5em 1em;
  border-radius   : 1em;
  color           : white;
  box-shadow      : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom   : 2em;
  width           : 30vw;
}

.main-search-nav{
  display         : flex;
  flex-flow       : row nowrap;
  justify-content : space-around;
}
.main-search-nav button{
  background-color: #5a9cabff;
  padding         : 1em 2em;
  border          : 0;
  border-radius   : 0.5em;
  color           : white;
  font-weight     : 900;
  font-size       : 1em;
}
.main-search-nav button:hover{
  background-color: rgb(50, 116, 131);
}
.main-search-nav button.hidden{
  visibility      : hidden;
}

.main-search-numbering{
  margin-right    : 1em;
  font-weight     : 900;
  font-size       : 1.5em;
}
.main-search-name{
  font-size       : 1.5em;
  font-weight     : 900;
  text-transform  : capitalize;
}
.main-search-title p{
  font-size       : 2em;
  font-weight     : 900;
}

.main-search-condition, .main-search-advice{
  display         : flex;
  flex-flow       : row nowrap;
}
.main-search-condition-title, .main-search-advice-title{
  width           : 6em;
}