.map-container{
  height          : 100%;
  width           : 100%;
  overflow-y      : scroll;
}
.image-hor img{
  height          : 32px;
  width           : 32px;
}
.image-vert{
  height          : 32px;
  display         : flex;
  flex-flow       : row wrap;
}
.image-hor{
  width           : 32px;
}