.map-container{
  height          : 100%;
  width           : 100%;
}

.map-container canvas{
  height          : 100%;
  width           : 100%;
  border-radius   : 0.5em;
}

.image-hor img{
  height: 32px;
  width: 32px;
}