
@import url('http://fonts.cdnfonts.com/css/manrope');

html{
  font-size     : 18px;
  font-family: 'Manrope', sans-serif;
}

body{
  margin        : 0;
}

p{
  margin        : 0;
}

p.warn{
  color         : red;
}